body {
    background-color: lightblue;
}

h1 {
    display: block;
    text-align: center;
    padding: 20px;
}

div {
    display: block;
    text-align : center;
    font-size: 40px;
    font-weight: 700;
    color: yellow;
}

div.font{
    color:black;
    font-size: 25px;
    font-weight: 400;
}

button {
    padding: 10px;
    margin: 10px;
    text-align: center;
}

content {
    display: block;
    text-align: center;
}